body{
	//background-color: #f2f2f2;
}
.content{
	@include span(12 nest);
	//background-color: #FFF;
}
.wrap{
	@include span(12 nest)
}
.container{
	@include container(1140px);
}

.main{
	background-color: #FFF;
	//padding:20px 0px;
}

.sidebar{
	background-color: #FFF;
	border-left: 1px solid #eeeeee;
	padding:20px 0px;
}

footer{
	@include span(12 nest);
}