header.main-header{
	@include span(12 nest);
	//height:90px;
	//border-bottom:1px solid $border-color;
	margin-bottom:10px;
	
}
.navigation{
	@include span(12 nest);
	//padding:20px 0px;
	
	background-color: $grey;
	height:60px;
	
	a.brand{
		@include span(3 first);
		height: 100%;
		position: relative;
		img{
			position:absolute;
					@include vertical-align();
			@include span(12 nest);
		}
	}
	.nav-primary{
		@include span(9 last);
		height: 100%;
		ul{
			//@include span(12 nest);
			float:right;
			height: 60px;
			li{
//				float:right;
				a{
					@include span(12 nest);
					padding:17px 14px;
				}
			}
			li.current-menu-item{
				background-color: #E4B03D;
			}
		}
	}
}
.search-box{
	border-top:2px solid #FFFFFF;
	background-color: $grey;
	@include span(12 nest);
}