.content{
	@include span(12 nest);
}
.main{
	@include span(12 nest);
	padding:0px;
}
.home{
	.banner{		
		@include span(12 nest)
		img{
			@include span(12 nest);
		}
	}
	.greeting{
		background-color: #E4B03D;
		@include span(12 nest);
		color:#FFFFFF;
		text-align: center;
		padding:30px;
		h2{
			font-size: 2em;
		}
		h3{
			font-size: 1em;
		}
	}
	.featured-category{
		@include span(12 nest);
		ul{
			padding:0px;
			li{
				list-style: none;
				display: inline;
				@include span(4)
				padding:40px 10px;
				text-align: center;
				img{
					width:150px;
				}
				h3{
					font-size: 1em;
				}
				p{
					color:#B5B7B9;
				}
			}
		}
	}
	.hot-items{
		@include span(12 nest);
		background-color: $grey;
	}
}